// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.LetraMaior{
	font-size: 30px;
}
.margem{
	margin-right: 10px;
	margin-left: 10px;
}
.titulo{
	font-size: 40px;
}
#espaco tr{
	margin-bottom: 120px;
}
